

a{
  color: black;
  text-decoration: none;
}
@font-face {
    font-family: "Heebo";
    src: url('Heebo-VariableFont_wght.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500&display=swap');
.navbar{
  width: 100vw;
  height: 20vh;
  z-index: 0;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-evenly;
  column-gap: 30%;

}
.logo{
  height: 75%;
  width: 12%;
  align-self: center;
}
.navComponents{
    width: 40%;
    height: 20vh;
    /* background-color: red; */
    display: flex;
    align-self: center;
    justify-content: flex-end;
    font-size: 2rem;
    margin-top: 5%;
    align-items: center;
    padding: 0px 54px 0px 0px;
    gap: 12px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: bold;
    line-height: 55px;
    column-gap: 5%;
}
.userPFP{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
  row-gap: 0%;
  margin-bottom: 8%;
  /* background-color: red; */
}
.pfpPopUp{
  position: absolute;
  min-width: 10%;
  max-width: max-content;
  white-space: nowrap;
  height: 10%;
  padding: 0.9% 0;
  padding-right: 1%;
  right: 11%;
  top: 17%;
  z-index: 3;
  background: #DBDBDB;
  box-shadow: 2px -2px 6px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  transform-origin: top right ;
  animation: popUp 0.2s forwards;

}
.pfpPopUp > hr{
  width: 99%;
  height: 1px;
  border: 1px solid #B3AFAF;
  background-color: #B3AFAF;
  z-index: 7;
}
.pfpPopUp > img{
  height: 100%;
  width: 10%;
}
.popUptext{
  /* background-color:green; */
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  justify-content: flex-start;
  padding-left: 4%;
  color: #4A4A4A;
  line-height: 30%;
  font-size: rem;
  cursor: pointer;
}
#friendcode{
  cursor: copy;
}
.username{
  font-size: 0.5em;
  position: relative;
  top: 20%;
}
.pfp{
  height: 70%;
  mix-blend-mode: exclusion;
  opacity: 0.67;
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
  border-radius: 51px;

}


.SignUpPrompt{
  width: max-content;
  height: fit-content;
  /* background-color: red; */
  padding: 2%;
  margin: 0 auto;
}

.SignUpPrompt > h1{
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 10%;
  display: flex;
  align-items: center;
  height: 10vh;
  /* background-color: green; */
  color: #000000;
  margin: 0;
}

.h2Signup > h2{
  
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  width: 35%;
  height: max-content;
  /* background-color: red; */
  overflow: hidden;
  color: #000000;
}

.footer{
  position: absolute;
  top: 95%;
  width: 100%;
  height: 10vh;
  background-color: #D9D9D9;
}

.h2Signup > button{
  cursor: pointer;
  width: 30%;
  height: 69px;  
  background: #D9D9D9;
  border-radius: 23px;
  border-style: none;
  align-self: center;
  font-family: 'Signika';
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center ;
  color: #000000;

}


.h2Signup{
  position: relative;
  display: flex;
  height: fit-content;
  justify-content: space-between; 
}

.hourglass {
  margin: 20px auto;
  height: 5rem * 2;
  width: 5rem;
  animation: flip 6s ease infinite forwards;
}
.top, .bottom {
  background-color: #D9D9D9;
  background-image: linear-gradient(#EFECCA ,#EFECCA );
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  animation-fill-mode: forwards;
}
.top {
  background-position: 0 0;
  animation: top-do 6s ease infinite;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.bottom {
  background-position: 0 5rem;
  animation: bottom-do 6s ease infinite;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.bottom:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 5rem;
  left: (5rem / 2) - 1px;
  background-image: linear-gradient(#000, transparent);
}

@keyframes top-do {
  95%, 100% {
    background-position: 0 5rem;
  }
}
@keyframes bottom-do {
  95%, 100% {
    background-position:  0 0;
  }
}
@keyframes flip {
  0%, 95% {
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(180deg);
  }
}

.signupPage{
  content: '';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.signupPage > h1{
  margin-top: 10%;
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 50%;
  display: flex;
  align-items: center;
  color: #000000;
}

.input{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 20vw;
  height: max-content;
  margin-top: 1%;
}


.inputHeader{  
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}
.input > input{
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
  border: 1px solid #000000;
  border-radius: 10px;
}
.rememberMe{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 11px;
  display: flex;
  align-items: center;
  color: #000;
  align-self: flex-start;
  margin-left: 30%;
}

.signupPage > button{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  border-style: none;
  color: #000000;
  background: #D9D9D9;
  border-radius: 23px;
  width: 126px;
  height: 41px;  
}

.signupPage > h3{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  width: 40%;
}
.redirect{
  margin-left: 2%;
  color: blue ;
  cursor: pointer;
}

.logOutButton{
  bottom: 80%;
  right: 2%;
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  cursor:pointer;
}
.logOutButton > h2{
  margin-top: 0%;
}
.homePage{
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: aqua; */
}
.friendsBar{
  width: 14%;
  height: 100%;
  background: rgba(147, 147, 147, 0.48);
  display: flex;
  flex-direction: column;
}
.friendsBar > div{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.friendsBar > div > h1{
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 20px;
  padding-left: 3%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.addFriendLogo{
  position: relative;
  left: 4%;
  bottom: 5%;
  height: 100%;
  width: 30%;
  /* background-color: red; */
  background-image: url("./public/addFriend.png"); 
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  align-self: center;
}

.notif{
  background-image: url("./public/addFriendNotif.png"); 
}



.chatSection{
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.friendSection{
  /* white-space: nowrap; */
  height: 8%;
  width: 100%;
  margin-top: 3%;
  border: 1px solid #FFFFFF;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: flex-start;
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}


.addFriendPopUp{
  width: 11%;
  height: 7%;
  position: absolute;
  left: 14%;
  top: 23%;
  transform-origin: top left ;
  animation: popUp 0.2s forwards;
  z-index: 2;
}

@keyframes popUp {
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1)
  }
}


.codeInput{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #D9D9D9;
  border: 2px solid #000000;
  border-radius: 8px;
}

.codeInput > input{
  width: 90%;
  height: 80%;
  background: #D9D9D9;
  border: 1px solid #BCB7B7;
  border-radius: 5px;
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 45px;
  color: #000000;
}

input:focus{
  outline: none;
}

.friendRequest{
  height: 10%;
  width: 10%;
}

.incomingRequests{
  position: relative;
  bottom: 50%;
  width: 120%;
  height: 20vh;
  z-index: 1;
  display: flex;
  padding: 0% 4%;
  flex-direction: column;
  background: #D9D9D9;
  border: 2px solid #000000;
  border-radius: 6px;
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  transform-origin: 70% 0;
  animation: popUp 0.2s forwards;
}


.activated > img{
  display: none;
}

.activated{
  justify-content: flex-start;
  padding-left: 5%;
  border-style: none;
  width: 70%;
}

.activated::after{
  content: '';
  position: absolute;
  left: 40%;
  width: 0;
  height: 0;
  animation: activate 1s forwards;
  border-top: 10vh solid transparent;
  border-bottom: 10vh solid transparent;
  border-left: 0.6vw solid transparent;  
  border-right: 12vw solid white; 
}

@keyframes activate {
  0%{
    left: 14%;
  }
  40%{
    left: 10.6%;
  }
  98%{
    left: 11%;
  }
  100%{
    left: 11%;
  }
}

.deactivated{
  background-color: red;
}

.inactivePic{
  /* padding-top:; */
  width: 70%;
  height: 50%;
  margin: 0 auto;
  margin-top: 2%;
  background-image: url("./public/inactive.png");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size:contain;
  /* background-color: red; */
}

.inactive{
  animation: fadeIn 0.2s forwards;
}
.inactive > span{
  color: blue;
  cursor: pointer;
}

@keyframes fadeIn {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
  
}

.incomingRequests > div{
  height: 20%;
  width: 100%;
  /* background-color: green; */
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 4%;
}

.incomingRequests > div >h1{
  white-space: nowrap;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  font-family: "Signika";
  font-style: normal;
}
.requestSection{
  width: 40%;
  height: 70%;
  display: flex;
  column-gap: 0%;
}

.requestOption{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.1s;
}

.requestOption:nth-child(1){
  background-image: url("./public/accept.png"); 
}
.requestOption:nth-child(1):hover{
  background-image: url("./public/acceptHover.png"); 
}

.requestOption:nth-child(2){
  background-image: url("./public/reject.png"); 
}

.requestOption:nth-child(2):hover{
  background-image: url("./public/rejectHover.png"); 
}

.quickSettings{
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding: 0.5% 1% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  border: 0.5px solid rgba(131, 122, 122, 0.803);
  border-radius: 3px;
  z-index: 5;
}


.quickSettings > hr{
  width: 100%;
  border: 0.5px solid rgba(131, 122, 122, 0.32);
}
.quickSettings > div{
  height: fit-content;
  margin-top: 1%;
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF ;
  cursor: pointer;
} 

.quickSettings > .criticalAction{
  color: red;
}

.requestPopUp{
  position: relative;
  z-index: 3;
  width: 15%;
  height: 48%;
  bottom: 25%;
  left: 85%;
  background-image: url("./public/collapse.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.turnRight{
  animation: rotateRight 0.2s forwards;
}

.turnLeft{
  animation: rotateLeft 0.2s forwards;
}

@keyframes rotateRight {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
  
}
@keyframes rotateLeft {
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}